* {
  margin: 0;
  padding: 0;
}

.App > *,
.App {
  border: 1px solid green;
}

body {
  background: #bebcbc;
  color: #fff;
}

.App {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.completed {
  text-decoration: line-through;
  color: black;
}
